*{
    font-family: monospace !important;
    /* background-image: url(./images/bg.jpg) ;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
   */
}
.cardStyle{
    width: 300px;
    max-height:200px;
    margin:40px;
    box-shadow: 5px 10px 18px #888888 !important;
   
   
}
.bg{
    background-image: url(./images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

